version: "3"
services:
    highlandpark_app:
        container_name: highlandpark_app
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - ./app:/var/www/html:cached
        ports:
            - "80:80"
        depends_on:
            - highlandpark_db
    highlandpark_db:
        container_name: highlandpark_db
        image: mysql:8.0
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: highlandpark_db
            MYSQL_USER: highlandpark
            MYSQL_PASSWORD: highlandpark
        volumes:
            - ./data/:/var/lib/mysql
